body{
	margin: 0px;
	background-color: white;
}

footer{
	text-align: center;
}

#cajaopciones li{
	display: inline-block;
	margin-right: 2%;
}

#cajaopciones li a{
	color: white;
	text-decoration: none;
}

#cajaopciones li a:hover{
	color: white;
	font-size: 20px;
}


#elementoinicial{
	margin-top: 5%;
	text-align: center;
}

#cabecera{
	padding: 1%;
	background-color: #B40404;
	position: all;
}